body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #f8f9fa;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

h1 {
    margin: 0;
    color: #333;
}

.container {
    display: flex;
    margin: 20px;
}

.sidebar {
    width: 20%;
    padding: 10px;
    background-color: #f1f1f1;
    border-right: 1px solid #ddd;
}

.sidebar h2 {
    font-size: 1.2em;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: #007bff;
}

.sidebar ul li a:hover {
    text-decoration: underline;
}

main {
    width: 60%;
    padding: 10px;
}

.profile {
    width: 20%;
    padding: 10px;
    background-color: #f1f1f1;
    border-left: 1px solid #ddd;
    text-align: center;
}

.profile-image {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-info {
    margin-top: 10px;
    text-align: left;
}

/* Galería de imágenes */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.gallery img {
    width: 300px; /* Ajusta el tamaño de las imágenes */
    height: auto;
    margin: 10px;
    object-fit: cover;
    border: 2px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #f8f9fa;
    padding: 10px 20px;
    border-top: 1px solid #ddd;
    text-align: center;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        margin: 10px;
    }

    .sidebar, .profile, main {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        text-align: center;
    }

    .gallery img {
        width: 100%; /* Las imágenes ocuparán el 100% del ancho disponible */
    }

    header {
        padding: 20px 10px;
    }

    h1 {
        font-size: 1.5em;
    }
}


